

$dark-gray-1: #4F4F4F;
$dark-gray-2: #3D3D3D;

$light-blue-4: #F5F9FF;
$light-blue-3: #E8F1FF;
$light-blue-2: #A6BEE3;
$light-blue-1: #5798FF;
$blue: #377eed;
$dark-blue-1: #3077E6;
$dark-blue-2: #1F60C4;
$dark-blue-3: #25354D;
$dark-blue-table-border: #18335c;


$light-orange-table-row-hover: #FFE7DB;
$light-orange-4: #FFF5F0;
$light-orange-3: #E3C7B6;
$light-orange-2: #FAD6C0;
$light-orange-1: #FAC9AC;
$orange: #F2A949;
$dark-orange-1: #D48620;
$dark-orange-2: #AD680E;
$dark-orange-3: #4D391F;


$light-red-3: #FFF2F4;
$light-red-2: #E3BABF;
$light-red-1: #F78B99;
$red: #D13F52;
$dark-red-1: #A62133;
$dark-red-2: #800F1E;
$dark-red-3: #3D1C20;



$light-green-3: #F2FFF6;
$light-green-2: #B1E6C0;
$light-green-1: #47C46C;
$green: #00A832;
$dark-green-1: #008729;
$dark-green-2: #00661F;
$dark-green-3: #1A3823;


